<header>
  <h1>Edit an Album's Info</h1>
</header>
<div>
  <%= form_for @album do |f| %>
    <% if @album.errors.full_messages.present? %>
      <ul>
        <% @album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>
