<header>
  <h1>Add an Album's Info</h1>
</header>
<div class="main">
  <%= form_for [@artist,@album] do |f| %>
    <% if @album.errors.full_messages.present? %>
      <ul>
        <% @album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :release_date %>
      <%= f.text_field :release_date %>
    </div>
    <div>
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>
